@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light_0.ttf);
}
@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "HelveticaNeueCyr";
    src: url(../fonts/HelveticaBold.ttf);
}
@font-face {
    font-family: "HelveticaNeueCyr Black";
    src: url(../fonts/HelveticaBlack.ttf);
}