.brief_menu {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    font-family: "Roboto Regular";
    font-size: 18px;
}
.brief_menu:after {
    content: "";
    position: absolute;
}
.brief_menu li {display: inline-block;}
.brief_menu a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 30px;
    color: white;
    transition: .3s linear;
    position: relative;
}
.brief_menu a:before,
.brief_menu a:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #F24332;
    opacity: 0;
    transition: .5s ease-in-out;
}
.brief_menu a:before {left: 5px;}
.brief_menu a:after {right: 5px;}
.brief_menu a.current:before,
.brief_menu a.current:after,
.brief_menu a:hover:before,
.brief_menu a:hover:after {opacity: 1;}
.brief_menu a.current,
.brief_menu a:hover {color:  #F24332;}
@media(max-width:680px) {
    .brief_menu li {display: block;}
}