/* fonts */
@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light_0.ttf);
}
@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "HelveticaNeueCyr";
    src: url(../fonts/HelveticaBold.ttf);
}
@font-face {
    font-family: "HelveticaNeueCyr Black";
    src: url(../fonts/HelveticaBlack.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #020912;
    background-repeat: no-repeat;
    margin: 0;
}

.scrollable_area {
    display: flex;
    flex-direction: column;
    background: #020912;
    background: linear-gradient(to bottom, #040404, #020912);
}

.scrollable_area > img {
    width: 100%;
}

.tours {
    width: 90%;
    margin: auto;
    padding-bottom: 8px;
    border-bottom: 1px solid #051327;
}

.tours__filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}

.tours__filters-list {
    display: flex;
    justify-content: center;
    height: 70px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-column: span 2;
    padding-left: calc((100% + 15px) / 2);
}

.tours__filters-item {
    margin: auto 10px;
}

.tours__filters-btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.tours__filters-btn img {
    vertical-align: middle;
}

.tours__filters-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkbox-toggle {
    position: relative;
}

.checkbox-toggle__label {
    font-size: 24px;
    color: #F24332;
    padding-left: 55px;
    font-family: "Roboto Light";
    transition: opacity .15s;
}

.checkbox-toggle__label:hover {
    opacity: .8;
}

.checkbox-toggle__label:before {
    position: absolute;
    content: '';
    width: 45px;
    height: 25px;
    left: 0;
    top: 2px;
    border: 1px solid #F24332;
    border-radius: 15px;
}

.checkbox-toggle__label:after {
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    background-color: #F24332;
    border-radius: 15px;
    left: 3px;
    top: 5px;
    transition: transform .15s;
}

.checkbox-toggle__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.checkbox-toggle__input:checked + .checkbox-toggle__label:after {
    transform: translateX(20px);
}

.container_wrap {
    display: flex;
    justify-content: center;
}

.tours__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 575px;
    grid-gap: 15px;
}

.tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #051327;
}

.tour__picture {
    margin: 0;
    width: 100%;
}

.tour__picture > img {
    width: 100%;
    vertical-align: middle;
}

.tour__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    list-style-type: none;
    padding: 11px 0;
    margin: 0;
}

.tour__details-item {
    font-family: "Roboto Light";
    font-size: 20px;
    margin: 0 22px;
    width: 60px;
}

.tour__details-item > img {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.tour__name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HelveticaNeueCyr Black";
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}

.tour__descr {
    width: 340px;
    font-family: "Roboto Thin";
    font-size: 22px;
    margin: 0;
}

.tour__order-button {
    padding: 5px 28px;
    background-color: #F24332;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Roboto Medium";
    font-size: 18px;
    align-self: flex-start;
    margin: 20px 0px 0 20px;
}

.gallery {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #051327;
    padding-bottom: 25px;
}

.gallery__title {
    font-family: "HelveticaNeueCyr";
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.gallery__line {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: 450px;
    margin-bottom: 10px;
}

.gallery__line--alt {
    grid-template-columns: 1fr 1fr 3fr;
}

.gallery__item {
    background: #051327;
    background-image: url("../images/gallery3.png");
}

.look-more {
    text-align: right;
}

.look-more__link {
    font-family: "Roboto Light";
    font-size: 24px;
    color: #F24332;
    text-decoration: none;
    line-height: 24px;
}

.look-more__image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: bottom;
}

.partners {

}

.partners__title {
    text-align: center;
    color: white;
    font-family: "HelveticaNeueCyr Black";
    font-size: 24px;
    text-transform: uppercase;
}

.partners__list {
    list-style-type: none;
    padding: 25px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.partners__list-item {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Roboto Light";
    font-size: 16px;
    margin: 0 30px 0 30px;
    text-align: center;
}

.partners__image {
    height: 75px;
    margin-bottom: 10px;
}

.arrow {
    width: 35px;
    height: 35px;
}

.grey_hr {
    border-color: #A9A9A9;
    width: 90%;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Regular";
    font-size: 24px;
    color: #E1E1E1;
    height: 90px;
}

.follow__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.follow__list-item {
    margin-left: 20px;
}

.follow__image {
    width: 20px;
    height: 20px;
}

/* main menu */
.menu-main {
    background: #040404;
    font-family: "Roboto Regular";
    font-size: 20px;
    text-align: center;
    position: relative;
}
.menu-main--footer {
    padding: 8px 0;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    font-size: 18px;
    background-color: transparent;
}
.menu-main__list {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 40px;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-main__list--footer {
    justify-content: center;
}
.menu-main__list + .menu-main__list {
    margin-left: 20px;
}
.menu-main__link {
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: white;
    transition: .3s linear;
    position: relative;
    text-transform: uppercase;
}
.menu-main__link:before,
.menu-main__link:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #F24332;
    opacity: 0;
    transition: .5s ease-in-out;
}
.menu-main__link:before {
    left: 5px;
}
.menu-main__link:after {
    right: 5px;
}
.menu-main__link--current:before,
.menu-main__link--current:after,
.menu-main__link:hover:before,
.menu-main__link:hover:after {
    opacity: 1;
}
.menu-main__link--current,
.menu-main__link:hover {
    color: #F24332;
}
@media (max-width: 680px) {
    .menu-main li {
        display: block;
    }
}
