
.menu-main {
    background: #040404;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    list-style: none;
    margin: 0;
    font-family: "Roboto Regular";
    font-size: 20px;
    text-align: center;
    position: relative;
}
.menu-main:after {
    content: "";
    position: absolute;
    height: 20px;
    bottom: -20px;
}
.menu-main li {display: inline-block;}
.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 30px;
    color: white;
    transition: .3s linear;
    position: relative;
}
.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #F24332;
    opacity: 0;
    transition: .5s ease-in-out;
}
.menu-main a:before {left: 5px;}
.menu-main a:after {right: 5px;}
.menu-main a.current:before,
.menu-main a.current:after,
.menu-main a:hover:before,
.menu-main a:hover:after {opacity: 1;}
.menu-main a.current,
.menu-main a:hover {color:  #F24332;}
@media(max-width:680px) {
    .menu-main li {display: block;}
}